.App {
    text-align: center;
}

.container {
    background-color: #36393f;
    color: white;
    padding-left: 0;
    padding-right: 0;
    max-width: 100vw;
}

#navbar1 {
    background-color: #b056d6 !important;
    height: 8vh;
    margin-bottom: 5vh;
}

.main-container {
    background-color: #36393f;
    min-height: 87vh;
    height: auto;
    padding-bottom: 5vh;
}

.list-container {
    background-color: #36393f;
    color: white;
    padding-left: 0;
    padding-right: 0;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.form {
    background-color: #36393f;
    max-width: 70vw;
    max-height: 200vh;
    margin: auto;
    padding-bottom: 5vh;
}

.formik {
    background-color: #36393f;
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 200vh;
}

.signin-form {
    max-width: 30vw;
    margin: auto;
    padding-top: 10%;
}

.table-head {
    color: lightgray;
    border: #36393f;
}

.table {
    background-color: #36393f;
    color: white;
    border-top-color: #78a4fa !important;
}

th {
    background-color: #36393f;
    border-color: #78a4fa !important;
    border-width: 2px !important;
}

td {
    background-color: #36393f;
    border-color: #78a4fa !important;
    border-width: 2px !important;
}

.btn-outline-light {
    color: #b056d6;
    border-color: #b056d6 !important;
}

.btn-outline-light:hover {
    color: white;
    background-color: #b056d6 !important;
    border-color: #b056d6 !important;
}

.alert-danger {
    color: #ff3333;
    background-color: rgba(255, 102, 102, 0.2);
    border-color: #ff3333;
}

.loader {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
